# General 
*.o

# asm
test
test.s

# scanner
scanner.c
scanner
!scanner/

# parser
parser.output
parser.tab.c
parser.tab.h
parser
!parser/

# ag
oxout.*
parser.c
parser.h
ag
!ag/

# codea
codegen.c
codea
!codea/
